body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    line-height: 100px;
}

.wrap {
    width: 80%;
    max-width: 950px;
    margin: 0 auto;
    padding: 1em;
    border-radius: 20px;
    text-align: center;
}

h1,
span {
    color: lime;
}

h1 {
    font-size: 4em;
}

h1::first-letter{
    color: red;
}